body {font-family: 'Titillium Web', sans-serif !important;}
#logo a img {float: left;width: auto;height: auto;}
#logo {margin-top: 0;}
#header > .ten.columns {max-height: inherit;}
#header > .six.columns {bottom: 20px;position: absolute;}
#content > .container > .columns {padding-bottom: 25px;}
#wrapper > .container, #footer-bottom {background: url('../images/maximus/topper.png') no-repeat;}
#wrapper > .container {margin: 0;padding: 20px 30px 0 30px;background-size: auto 100%;}
#footer-bottom {background-size: 100%;}
.copyright, #sub-menu > ul > li > a {color: #fff;}
.node {margin: 0 !important;}
.portfolio-content {padding-bottom:20px;}
.portfolio-img-wrapper {padding-left: 0px; margin-left: 0px !important; width: 51% !important;}
.portfolio-img-thumbs > div {padding-top:10px;}
.node-blog > div.field-name-field-image {padding-left: 63px;}
.line {margin-top: 20px; margin-bottom: 20px;}
.sidebar, .page-content {margin-bottom: 0 !important; padding-bottom: 0;}
.views-row-last .line {border-bottom: none;}

/* menu styling */
.menu {text-transform: uppercase;}

/* fonts */
h2 > a {font-size: 18px;font-weight: bold;font-family: 'Titillium Web', sans-serif;}
h3, a > span {font-size: 15px;font-family: 'Titillium Web', sans-serif;}
p {font-size: 13px;}

/* homepage buttons block */
.grey-button {color: #fff;/*text-align: center;*/cursor: pointer;}
.grey-button.button-row {
	background-color: #4c4c4c;
	max-height: 47px;
	margin-bottom: 10px;
	padding: 10px 0 10px 0;
	font-size: 14px;
	text-transform: uppercase;
}

.grey-button.button-row > span {margin-left: 30px;}
.grey-button.button-tile {
	background-color: red;
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
}

.grey-button.button-tile > span {padding-top: 40px;left: 65px;position: absolute;}
.grey-button:hover {background-color: #888;}
#product-display {
	/*border: 3px solid #4c4c4c;*/
	min-height: 50px;
	width: 100%;
	display: inline-block;
	position: relative;
}

.products-wrapper {
	height: auto;
	padding: 15px 0 0 0;
	z-index: 5;
}

.product-img {margin-bottom: 10px;}

/* product img */
.product-img-wrapper {
	/*margin: 0 0 10px 0;*/
	overflow: hidden;
	max-height: 200px;
	margin-bottom: 10px;
}

.product-img-wrapper > a > img {
	width: 100%;
	height: auto;
}

#featured-img
{
	margin-bottom: 10px;
}

.field-item > div + p
{
	border:1px solid black;
	display: none;
}

/*.product-img-wrapper .alpha,.product-img-wrapper .omega {
	margin-left: 10px !important;
	margin-right: 10px !important;
}*/

.product-img {
	width: inherit;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-img {
	cursor: pointer;
}

/* form styling */
#form-fields > * {
	margin-bottom: 10px !important;
	padding: 5px 8px 5px 8px !important;
	resize: none;
}

#form-submit {
	position: relative;
	float: right;
}

.form-error {
	border: 2px solid #c92b1f !important;
}

/* featured block styling */
.view-featured {
	border-top: 2px solid #e8e8e8;
	position: relative;
	clear: left;
	padding: 40px 0 0 0;
}

.featured-block {
	text-transform: uppercase;
	text-align: center;
	width: 74%;
	float: right;
}

.featured-blurb {width: 24%;}
.featured-grid {clear: left;}
.featured-product {
	background-color: #fcfcfc;
	display: inline-block;
	width: 30%;
	height: inherit;
	max-width: 220px;
	margin-left: 0 !important;
}

.featured-product > .node > .content {
	border: 2px solid #eeeeee;
	border-top: 5px solid #eeeeee;
	min-height: 80px;
	margin-bottom: 40px;
}

.product-image > div > a > img {width: inherit;height:auto;}
.featured-item {margin: 20px 10px 20px 10px;}
/* pagerer css */
.pagerer {float:left;width:auto !important;margin-left: 5px !important;}
table.pagerer > tbody > tr > td {border:none !important;}
.pager-previous {border-radius: 3px 0 0 3px;}
.pager-next {border-radius: 0 3px 3px 0;}
.pager-previous, .pager-next {
	margin: 20px 0 0 0;
	float: left;
	width: 17px;
	height: 24px;
	display: block;
	background-color: #eee;
	cursor: default;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
	color: #c8c8c8;
}

.pager-previous, .pager-next, .pager-previous > *, .pager-next > * {
	padding: 3px 0 0 8px !important;
	font-size: 14px;
	font-weight: 900;
	color: #c8c8c8;
}
.pager-previous > *, .pager-next > * {margin-left: -8px;padding-right: 8px !important;padding-bottom: 4px !important;}
.pager-previous.active:hover, .pager-next.active:hover {background-color: #c12127;box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);}
.pager-previous.active, .pager-next.active, .pager-previous.active:visited, .pager-next.active:visited {background: #ccc;}
.pager > .active > a {width:100%;height:100%;color: #fff;}
.ajax-progress {margin: 6px 0 0 -12px;}

@media only screen and (max-width: 768px) {
.mobile-hide{display: none;}
}

@media only screen and (max-width: 1023px) {
#footer-bottom {height: 100px;}
}

@media only screen and (min-width: 1024px) {
#footer-bottom {height: 21px;}
}