
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");

/* =================================================================== */
/* Header
====================================================================== */
#top-line {
  width: 100%;
  background: #169fe6;
  height: 5px;
  display: block;
}

#header { min-height: 130px; }

.contact-details {
  float: right;
  margin: -1px 0 1px 0;
  display: block;
  color: #888;
  font-size: 11px;
}

.top-search {
  float: right;
}

.top-search input ,#header #search-block-form .form-text{
  width: 180px;
  font-size: 11px;
  color: #888;
  float: left;
}

.search-btn,#header #search-block-form .form-submit {
  float: right;
  position: relative;
  padding: 0;
  top: 0;
  right: 0;
  margin: 1px 0 0 -35px;
  background: url('../images/search.png') center center no-repeat;
  width: 35px;
  height: 32px;
  cursor: pointer;
  border: none;
  z-index: 100;
  box-shadow: none;

}
#header #search-block-form .form-submit{
  text-indent: -9999px;
}

.search-field {
  float: right;
  position: relative;
}

/* Logo / Tagline
====================================*/
#logo {
  margin-top: 50px;
}

#logo a img {
  float: left;
  width: 104px;
  height: 26px;
}

#tagline {
  color: #888;
  border-left: 1px solid #e8e8e8;
  margin: 0 0 0 20px;
  padding: 5px 0 5px 20px;
  float: left;
  font-size: 12px;
}

/* Social Icons
====================================*/

/* Header Icons */
.social-icons {
  margin: 23px 0 13px 0;
  float: right;
}

.social-icons li {
  display: inline;
  list-style: none;
  text-indent: -9999px;
  float: left;
  opacity: 0.5;
  filter: alpha(opacity = 50);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ie8 .social-icons li {
  background-color: #fff;
}

.social-icons li a {
  display: block;
  padding-left: 11px;
  height: 16px;
  width: 16px;
}

.social-icons li:hover { opacity: 1; }

/* Icon List */
.twitter {background: url(../images/social/twitter.png) no-repeat 50%;}
.facebook {background: url(../images/social/facebook.png) no-repeat 50%; margin: 0 -4px;}
.dribbble {background: url(../images/social/dribbble.png) no-repeat 50%;}
.linkedin {background: url(../images/social/linkedin.png) no-repeat 50%;}
.rss {background: url(../images/social/rss.png) no-repeat 50%; margin: 0 -5px 0 0;}
.amazon {background: url(../images/social/amazon.png) no-repeat 50%; }
.blogger {background: url(../images/social/blogger.png) no-repeat 50%; }
.deviantart {background: url(../images/social/deviantart.png) no-repeat 50%; }
.digg {background: url(../images/social/digg.png) no-repeat 50%; }
.flickr {background: url(../images/social/flickr.png) no-repeat 50%; }
.forrst {background: url(../images/social/forrst.png) no-repeat 50%; }
.lastfm {background: url(../images/social/lastfm.png) no-repeat 50%; }
.picasa {background: url(../images/social/picasa.png) no-repeat 50%; }
.pinterest {background: url(../images/social/pinterest.png) no-repeat 50%; }
.skype {background: url(../images/social/skype.png) no-repeat 50%; }
.tumblr {background: url(../images/social/tumblr.png) no-repeat 50%; }
.vimeo {background: url(../images/social/vimeo.png) no-repeat 50%; }
.wordpress {background: url(../images/social/wordpress.png) no-repeat 50%; }
.yahoo {background: url(../images/social/yahoo.png) no-repeat 50%; }
.youtube {background: url(../images/social/youtube.png) no-repeat 50%; }


/* Menu
====================================*/
#navigation {
  height: 49px;
  width: 1040px;
  margin-left: -10px;
  background-color: #4c4c4c;
  float: left;
  left: 1px;
}

/* Style Without Shadows */
.style-2 .left-corner,
.style-2 .right-corner { display: none; }
.style-2 { width: 1020px !important; margin-left: 0 !important; }
.style-2 ul li:first-child { margin-left: 1px !important; }

.js .selectnav,#navigation select {
  display: none;
}

.menu i.halflings { margin: 1px 2px 0 -2px; }

.menu ul, .menu li > div {
  visibility: hidden;
  display: none;
}

.menu li:hover > ul, .menu li:hover > div {
  visibility: visible;
  display: block;
}


/* Shadows */
.left-corner,
.right-corner {
  display:block;
  width: 0px;
  height: 0px;
  border-style: solid;
  position: relative;
  top: 49px;
  float: left;
  opacity: 0.58;
  filter:alpha(opacity=58);
}

.left-corner {
  border-color: transparent #888 transparent transparent;
  border-width: 0 9px 9px 0;
  float: left;
  left: 1px;
}

.right-corner {
  border-color: #888 transparent transparent transparent;
  border-width: 9px 9px 0 0;
  float: right;
  right: 1px;
}


/* Reset  */
.menu, .menu ul {
  margin:0;
  padding:0;
  list-style:none;
}

#navigation .menu li, #navigation .menu ul a {position:relative;}
#navigation .menu > li {float:left;}
#navigation .menu > li.floatr {float:right;}
#navigation .menu li > a {display:block;}

#navigation .menu ul {
  position:absolute;
  display:none;
  width:170px;
  top: 100%;
}
#navigation .menu ul ul {
  top:0;
  left:170px;
}

#navigation .menu li:hover > ul {display:block;}

#navigation ul li:first-child { margin-left: -8px; }
#navigation ul li ul li:first-child,
#navigation ul li ul li ul li:first-child { margin-left: 0; }

#navigation ul li a.sf-depth-1.active,
#navigation ul li.active-trail a.sf-depth-1 {
  background-color: #169fe6;
  border-right: 1px solid #169fe6;
  margin-left: -1px;
  padding-left:21px;
  z-index: 8;
  position: relative;
}

#navigation .menu a {text-decoration:none;}

#navigation .menu > li > a {
  color:#fff;
  font-weight: 400;
  font-size: 13px;
  line-height:18px;
  padding: 15px 20px 16px 20px;
}

#navigation .menu > li:hover > a {
  background-color: #707070;
  border-left:none;
  padding-left:21px;
  border-right:1px solid #707070;
  margin: 0 0 0 -1px;
}

#navigation ul.menu li a {
  -webkit-transition: background-color 80ms ease-in-out;
  -moz-transition: background-color 80ms ease-in-out;
  -o-transition: background-color 80ms ease-in-out;
  -ms-transition: background-color 80ms ease-in-out;
  transition: background-color 80ms ease-in-out;
}

#navigation .menu ul li a {
  -webkit-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
  -moz-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
  -o-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
  -ms-transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
  transition: background-color 20ms ease-in-out, color 20ms ease-in-out;
}

#navigation .menu > li > a { border-right:1px solid #666; }
.menu > li > a:hover { border-right:1px solid #707070; margin: 0 0 0 -1px; }

#navigation .menu > li > a img, .menu li > ul > li > a img {
  border:0;
  margin-right:7px;
}


/* Sub Menu */
#navigation .menu ul {
  background-color: #fff;
  border:1px solid #e0e0e0;
  border-top:none;
  left:-1px;
  z-index: 999;
  border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

#navigation .menu ul a {
  color: #777;
  font-size: 12px;
  line-height: 18px;
  padding: 9px 12px;
  border-top: 1px solid #e6e6e6;
}

#navigation .menu ul a:hover {
  background-color:#f5f5f5;
}


/* Mega Menu */
.menu .cols1, .menu .cols2, .menu .cols3, .menu .cols4, .menu .cols5 {
  position:absolute;
  display:none;
  overflow:auto;
  z-index: 999;
  background: #fff;
}

.menu .cols1, .menu .col1 {width:160px;}
.menu .cols2, .menu .col2 {width:320px;}
.menu .cols3, .menu .col3 {width:480px;}
.menu .cols4, .menu .col4 {width:640px;}
.menu .cols5, .menu .col5 {width:800px;}
.menu > li.floatr > ul.cols1, ul.cols2, ul.cols3, ul.cols4, ul.cols5 {right:0;}
.menu > li:hover > ul.cols1, ul.cols2, ul.cols3, ul.cols4, ul.cols5 {display:block;}
.menu .col1, .menu .col2, .menu .col3, .menu .col4, .menu .col5 {float:left;}

.menu li > ul.cols1,ul.cols2, ul.cols3, ul.cols4,ul.cols5  {
  background-color:#fff;
  border:1px solid #e0e0e0;
  border-top:none;
  left:-1px;
  padding:10px;
}

ul.cols1 a:hover, ul.cols2 a:hover, ul.cols3 a:hover, ul.cols4 a:hover, ul.cols5 a:hover {
  background: none;
  border: none;
}

ul.cols1 a, ul.cols2 a, ul.cols3 a, ul.cols4 a, ul.cols5 a {
  background: none;
  border: none;
}

ul.cols1 p a, ul.cols2 p a, ul.cols3 p a, ul.cols4 p a, ul.cols5 p a {
  padding: 0;
}

#navigation .menu h4 {
  font-size: 13px;
  color: #888;
  font-weight: normal;
  margin: 0px 10px 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  letter-spacing: 0;
}

#navigation .menu h5 {
  font-size: 13px;
  margin: 8px 10px -3px 10px;
}
#navigation .menu ol {
  list-style:none;
  margin: 7px 10px;
  padding: 0;
}

.menu ol a {
  color: #777;
  font-size: 12px;
  padding: 3px 0;
  line-height: 15px;
}

.menu ol a:hover {
  color: #444;
}
.menu p {
  font-size: 12px;
  line-height: 18px;
  margin: 9px 10px;
  padding: 0;
}
.menu p a {
  color: #888;
  text-decoration: underline;
}
.menu p a:hover {
  color: #555;
}


/*==================================================================== */
/* LayerSlider Styles
====================================================================== */

.ls-container {
  visibility: hidden;
  position: relative;
}

.ls-inner {
  position: relative;
  background-position: center center;
}

.ls-inner,
.ls-layer {
  width: 100%;
  height: 100%;
}

.ls-layer {
  position: absolute;
  display: none;
  background-position: center center;
  overflow: hidden;
}

.ls-layer * {
  margin: 0px;
  line-height: normal;
}

.ls-active,
.ls-animating {
  display: block !important;
}

.ls-layer > * {
  position: absolute;
  left: 0px;
  top: 0px;
}

.ls-layer .ls-bg {
  left: 50%;
  top: 50%;
}

.ls-yourlogo {
  position: absolute;
  z-index: 99;
}


/* Embedded videos */
.ls-vpcontainer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.ls-videopreview {
  width : 100%;
  height : 100%;
  position : absolute;
  left : 0px;
  top : 0px;
  cursor : pointer;
}

.ls-playvideo {
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
}

.ls-wp-fullwidth-container {
  width: 100%;
  position: relative;
}

.ls-wp-fullwidth-helper {
  position: absolute;
}

.ls-container img,
.entry-content .ls-container img,
.comment-content .ls-container img,
.widget .ls-container img {
  border-radius: 0px;
  box-shadow: none;
  max-width: none !important;
  transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
}

.entry-content .ls-container *,
.comment-content .ls-container *,
.widget .ls-container * {
  line-height: normal;
  padding: 0px;
  outline: none;
  border: 0px;
}

.entry-content .ls-yourlogo,
.entry-content .ls-inner *,
.comment-content .ls-inner *,
.widget .ls-inner * {
  margin: 0px;
}

.entry-content .ls-tn,
.comment-content .ls-tn,
.widget .ls-tn {
  display: none;
}

/* Style of LayerSlider Debug Console */

.ls-debug-console * {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  color: white !important;
  text-shadow: none !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, serif !important;
  line-height: normal !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: left !important;
}

.ls-debug-console h1 {
  padding-top: 10px !important;
  font-size: 17px !important;
  font-weight: 600 !important;
}

.ls-debug-console h1:first-child {
  padding-top: 0px !important;
}

.ls-debug-console ul {
  padding-top: 10px !important;
  list-style: none !important;
}

.ls-debug-console li {
  margin-left: 10px !important;
  font-size: 13px !important;
  position: relative !important;
  font-weight: normal !important;
}

.ls-debug-console li ul {
  display: none;
  position: absolute !important;
  width: 260px;
  left: -10px;
  bottom: 100% !important;
  padding: 10px 10px 10px 0px !important;
  background: white !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 20px black !important;
}

.ls-shadow { display: none !important; }

.ls-debug-console li:hover ul {
  display: block;
}

.ls-debug-console li ul * {
  color: black !important;
}

.ls-debug-console a {
  text-decoration: none !important;
  border-bottom: 1px dotted white !important;
}

/* LayerSlider Skin */
#layerslider-container {
  background: url(../images/layerslider-loader.gif) no-repeat center;
}

.ls-fullwidth .ls-nav-prev,
.ls-fullwidth .ls-nav-next,
.ls-fullwidth .ls-playvideo,
.ls-fullwidth .ls-playvideo:hover {
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.ls-fullwidth .ls-nav-prev,
.ls-fullwidth .ls-nav-next {
  width: 39px;
  height: 71px;
  margin-top: -36px;
  display: block;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  text-indent: -9999px;
  top: 50%;
}

.ls-fullwidth .ls-nav-prev { background: url(../images/slider-left.png) no-repeat 50%; background-color: #4c4c4c; left: 0; border-radius: 0 2px 2px 0; }
.ls-fullwidth .ls-nav-next { background: url(../images/slider-right.png) no-repeat 50%; background-color: #4c4c4c; right: 0; border-radius: 2px 0 0 2px; }

.ls-fullwidth .ls-nav-next:hover,
.ls-fullwidth .ls-nav-prev:hover { background-color: #169fe6; }

.ls-fullwidth .ls-playvideo {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: -25px;
  margin-top: -25px;
  background: url(../images/layerslider-video.png) no-repeat 50%;
  opacity: 0.8;
}

.ls-fullwidth .ls-playvideo:hover {	opacity: 1; }

.caption-gray,
.caption-color,
.caption-transparent {
  padding: 18px 22px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
}

.caption-gray { background: #4c4c4c; }
.caption-color { background: #169fe6; }
.caption-transparent { background-color: #4c4c4c; background: rgba(0, 0, 0, 0.40); }


/*==================================================================== */
/* FlexSlider
====================================================================== */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles */
.flexslider {margin: 0; padding: 0; z-index: 1; position: relative;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li:first-child {display: block;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme */
.flexslider {margin: 0 0 0; border: none;position: relative; zoom: 1;}
.flexslider.home {margin: 0; }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

/* Direction Nav */
.flex-direction-nav {*height: 0;}

.flex-direction-nav .flex-next {background: url(../images/slider-right.png) no-repeat 50%; background-color: #4c4c4c; right: 0; border-radius: 2px 0 0 2px; }
.flex-direction-nav .flex-prev {background: url(../images/slider-left.png) no-repeat 50%; background-color: #4c4c4c; left:0; border-radius: 0 2px 2px 0; }

.flex-direction-nav a {
  width: 39px;
  height: 71px;
  margin-top: -36px;
  display: block;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  text-indent: -9999px;
  top: 50%;
  opacity: 1;
  filter:alpha(opacity=100);
  -webkit-transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
  transition: opacity 0.2s ease-in-out, background-color 200ms ease-in-out;
}

.flexslider.home:hover .flex-next,
.flexslider.home:hover .flex-prev { opacity: 1; filter:alpha(opacity=100); }
.home .flex-direction-nav a { opacity: 0; filter:alpha(opacity=0); }

.flexslider .flex-next:hover,
.flexslider .flex-prev:hover { background-color: #169fe6; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 14px; height: 14px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* Caption */
.slide-caption {
  width: 282px;
  padding: 28px;
  margin: 0;
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  background-color: #222;
  background: rgba(0, 0, 0, 0.45);
}

.slide-caption h3 {
  color: #fff;
  padding-bottom: 10px;
  margin:0;
  line-height: 22px;
}

.slide-caption p {
  margin:0;
  line-height: 19px;
  color: #bbb;
}

/* =================================================================== */
/* Icon Boxes
====================================================================== */
.icon-box-container { margin:  40px 0 45px 0; float:left; }
.icon-box-container p { margin: 0; }

.icon-box p,
.icon-box h3 { margin-left: 45px; }

.icon-box i {
  float: left;
  font-size: 31px;
  margin: 8px 0 0 0px;
  color: #404040;
}


/* =================================================================== */
/* Carousel
====================================================================== */

.arl,
.arr {
  margin-top: 20px;
  float: left;
  width: 24px;
  height: 24px;
  display: block;
  background-color: #eee;
  cursor: default;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
  margin-right: 1px;
}

.arl i,
.arr i { margin: 3px 0 0 10px; font-size: 10px; color: #c8c8c8; }

.arl { border-radius: 2px 0 0 2px; }
.arr { border-radius: 0 2px 2px 0 }

.arl.active i,
.arr.active i {color: #fff;}
.arl.active,
.arr.active { background-color: #ccc; cursor: pointer; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.07); }

.arl.active:hover,
.arr.active:hover { background-color: #169fe6; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1); }

.carousel-navi { margin: -10px 0 40px 0; float: left; }

.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel ul {
  width: 20000em;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =================================================================== */
/* Recent Work
====================================================================== */
.entire { margin: 30px 0 0 0; }
.entire h3 { margin: 0 0 8px 0; }
.entire p { margin: 0 0 9px 0; color: #888; }
.entire a { color: #555; }
.entire a:hover { color: #888; }

.item-description {
  padding: 14px 0 19px 0;
  background: #fff;
  border-radius: 0 0 2px 2px;
  border-top: 5px solid #e5e5e5;
  text-align: center;
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -o-transition: all 180ms ease-in-out;
  -ms-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.1);
}

.ie8 .item-description {border-bottom: 1px solid #e8e8e8; }

.portfolio-item img {
  -webkit-transition: opacity 180ms ease-in-out;
  -moz-transition: opacity 180ms ease-in-out;
  -o-transition: opacity 180ms ease-in-out;
  -ms-transition: opacity 180ms ease-in-out;
  transition: opacity 180ms ease-in-out;
}

.portfolio-item:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.item-description h5 {
  margin-bottom: -3px;
  font-size: 13px;
  font-weight: 600;
}

.item-description span { color: #888; font-size: 13px; font-weight: 300; }

.portfolio-item {
  margin: 40px 0;
  display: block;
  background-color: #fff;
}

.portfolio-item:hover > figure > .item-description {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.1);
  border-top: 5px solid #169fe6;
}


/* =================================================================== */
/* Recent Blog
====================================================================== */
.recent-blog { margin-bottom: 38px; }
.recent-blog h4 { line-height: 21px; margin-bottom: 10px; }
.recent-blog h4 a { color: #333; }
.recent-blog h4 a:hover { color: #888; }
.recent-blog p { margin-top: 7px; margin-bottom: 0; }
.margin-1 { margin: 28px 0 22px 0; }

.entry,
.recent-blog h4,
.recent-blog p { margin-left: 60px; }

.date { float:left; text-align: center; height: 0px; }
.date span { display: block; }
.day { background: #f2f2f2; padding: 10px; font-size: 16px; font-weight: 500; color: #999; border-radius: 2px 2px 0 0; }
.month { background: #ccc; padding: 0px 10px 2px 10px; color: #fff; border-radius: 0 0 2px 2px; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.07); }


/* =================================================================== */
/* Miscellaneous Styles
====================================================================== */
.margin-reset {margin-top: -10px;}
.sidebar.padding-reset { padding-top: 0; }

.glyphicons { margin: 15px 0 0 0; }
.glyphicons li { margin: 0 0 2px 1px; }
.glyphicons li i { float: left; margin: 0 5px 0 0; }

.the-icons { margin: 18px 0 20px 0; }
.the-icons li i { font-size: 24px; color: #555; float: left; margin: 0 3px 0 0; }
.the-icons li { margin: 0 0 14px 0; }


/* 404 Error Page
====================================*/
#not-found { margin: 50px 0 75px 0; }

#not-found h2 {
  text-align: center;
  font-size: 210px;
  line-height: 210px;
  font-weight: normal;
  letter-spacing: -5px;
}

#not-found p {
  text-align: center;
  font-size: 28px;
  line-height: 36px;
}

#not-found i {
  color: #ddd;
  font-size: 200px;
}


/* Dropcaps
====================================*/
.dropcap {
  float: left;
  color: #169fe6;
  font-size: 58px;
  line-height: 54px;
  padding-top: 4px;
  padding-right: 10px;
  margin-top: -2px;
}

.dropcap.gray { color: #555; }


/* Highlights
====================================*/
.highlight.color,
.highlight.gray,
.highlight.light { padding: 2px 6px; color: #fff; border-radius: 2px; }

.highlight.color { background: #169fe6; }
.highlight.gray { background: #4c4c4c; }
.highlight.light { background: #aaa; }


/* Blockquote
====================================*/
blockquote {
  border-left: 3px solid #e8e8e8;
  padding-left: 20px;
  color: #888;
  line-height: 20px;
  margin: 5px 0 20px 15px;
}


/* Progress Bar
====================================*/
.skill-bar {
  height: 41px;
  position: relative;
  background: #f6f6f6;
  margin: 0 0 10px 0;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
}

.skill-bar-content[data-percentage] { text-indent: -9999px; }

.skill-bar-content {
  background: #169fe6;
  height: 41px;
  width: 0%;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.12);
}

.skill-bar .skill-title {
  color: #fff;
  top: 9px;
  left: 15px;
  position: absolute;
}

.skill-bar .percentage {
  color: #666;
  position: absolute;
  top: 9px;
  left: 90%;
}


/* Client Logo List
====================================*/
.client-list li {
  border: 1px solid #e0e0e0;
  float: left;
  margin: -1px 0 0 -1px;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}


/* Team
====================================*/
.team-name {
  padding: 20px 0 12px 0;
}

.team-name h5 {
  line-height: 16px;
  font-size: 13px;
}

.team-name span {
  display: block;
  font-weight: normal;
  color: #888;
}

.team-about p {
  margin-bottom: 0;
}

.team-entry {
  display: block;
  position: relative;
}


/* Page Title
====================================*/
.page-title {
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #e0e0e0;
}

.page-title h2 {
  font-weight: normal;
  padding: 30px 0;
  float: left;
}


/* Breadcrumbs
====================================*/
#breadcrumbs ul {
  float: right;
  padding: 34px 0;
  font-size: 12px;
}

#breadcrumbs ul li {
  display: inline-block;
  color: #888;
  padding: 0 11px 0 0;
  margin: 0 0 0 5px;
  background: url(../images/breadcrumbs.png) no-repeat 100% 50%;
}

#breadcrumbs ul li:last-child a,
#breadcrumbs ul li a {  }

#breadcrumbs ul li:first-child { padding-right: 0; margin-left: 0; }

#breadcrumbs ul li:first-child,
#breadcrumbs ul li:last-child {
  color: #888;
  background: none;
}

#breadcrumbs ul li:last-child { padding:0; background: none; }


/* Sidebars
====================================*/
.floated.sidebar.right {
  background: #fcfcfc;
  margin-left: -1px;
  border-left: 1px solid #e0e0e0;
  -webkit-box-shadow:inset 2px 0px 0px 0px rgba(0, 0, 0, 0.03), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow: inset 2px 0px 0px 0px rgba(0, 0, 0, 0.03), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.floated.sidebar.left {
  background: #fcfcfc;
  margin-right: -1px;
  border-right: 1px solid #e0e0e0;
  -webkit-box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.03), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.03), inset 0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.sidebar,
.page-content { padding: 40px 0; }

h4.margin { margin: 0 0 10px 0; }
h3.margin { margin: 0 0 10px 0; }
p.margin { margin: 0 0 25px 0; }

.line {
  height: 1px;
  width: 100%;
  margin: 0 0 0 -40px;
  padding: 0 80px 0 0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.widget-search {
  float: left;
}

.ie8 .widget-search,
.ie8 .top-search, .ie8 #header #search-block-form {
  float: none;
}

.widget-search input, .sidebar .block-search .form-text {
  width: 200px;
  color: #888;
}

.search-btn-widget,.sidebar .block-search .form-submit {
  float: right;
  position: relative;
  padding: 0;
  top:0;
  right:0;
  margin: 0 0 0 -35px;
  background-image: url(../images/search-2.png);
  background-position: 50%;
  background-repeat: no-repeat;
  width: 35px;
  height: 36px;
  cursor: pointer;
  border: none;
  z-index: 100;
  border-radius: 0 2px 2px 0;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.search-btn-widget:hover,.sidebar .block-search .form-submit:hover {
  background-color: #aaa;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
}

/* Categories */
.categories a , .sidebar .menu li a{
  color: #666;
  display: block;
  padding: 3px 0;
  padding-left: 12px;
  background: url(../images/categories.png) no-repeat left 7px;
}

.categories li a:hover,.sidebar .menu li a:hover {color: #888}

.categories li:first-child a,
.sidebar .menu li:first-child a {
  margin: -6px 0 0 0;
}

.categories li span,.sidebar .menu li span {
  color: #aaa;
}
.sidebar .menu li a,.sidebar .menu li{
  border: 0 none;
}
/* Blog Widgets */
.widget {
  margin: 30px 0 0 0;
}

.widget h4 {
  margin: 0 0 12px 0;
}


/* Tags */
.tags a {
  padding: 3px 10px 5px 10px;
  display: inline-block;
  color: #888;
  background-color: #f2f2f2;
  margin: 0 2px 6px 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
  border-radius: 2px;
}

.tags a:last-child {margin-right:0;}

.tags a:hover {
  background: #169fe6;
  color: #fff;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
}


/* Popular Posts */
.latest-post-blog {
  margin-bottom: 18px;
}

.latest-post-blog p {
  margin: 0;
  color: #666;
  line-height: 19px;
  margin-left: 75px;
}

.latest-post-blog p a {color: #666; display: block;}
.latest-post-blog p a:hover {color: #888;}

.latest-post-blog p span {
  color: #888;
  margin: 5px 0 0 0;
  display: block;
}

.latest-post-blog img {
  float: left;
  width: 56px;
  height: 56px;
  border: 1px solid #e0e0e0;
  padding: 4px;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}


.latest-post-blog img:hover {
  background: #169fe6;
  border: 1px solid #169fe6;
}

/* Twitter */
#twitter-blog li {
  line-height: 20px;
  margin: 0 0 15px 0;
  padding: 0 0 0 25px;
  background: url(../images/twitter-01.png) no-repeat left 5%;
}

#twitter-blog li:last-child { margin: 0; }

#twitter-blog b a,
#twitter-blog b a:hover {
  color: #888;
  font-weight: normal;
}


/* Flickr */
.flickr-widget-blog {margin-right: -15px;}
.flickr-widget-blog img {display: block; width: 100%;}

.flickr-widget-blog a {
  float: left;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 5px solid #e8e8e8;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border-radius: 2px;
}

.flickr-widget-blog a:hover {
  border: 5px solid #169fe6;
  border-radius: 2px;
}


/* Google Maps
====================================*/
.google-map-container { margin: -4px 0 30px 0; }
.google-map-container img { max-width: none !important; }


/* Fancybox
====================================*/
/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('../images/fancybox_sprite.png');
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('../images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('../images/blank.gif'); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
  overflow: hidden;
}

.ie8 .fancybox-overlay { background: url('../images/fancybox_overlay.png') !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('../images/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}

#fancybox-buttons {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 8050;
}

#fancybox-buttons.top {
  top: 10px;
}

#fancybox-buttons.bottom {
  bottom: 10px;
}

#fancybox-buttons ul {
  display: block;
  width: 166px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border: 1px solid #111;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
  background: rgb(50,50,50);
  background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
  background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
  background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
  background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
  background: linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
  float: left;
  margin: 0;
  padding: 0;
}

#fancybox-buttons a {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-image: url('../images/fancybox_buttons.png');
  background-repeat: no-repeat;
  outline: none;
  opacity: 0.8;
}

#fancybox-buttons a:hover {
  opacity: 1;
}

#fancybox-buttons a.btnPrev {
  background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
  background-position: -33px 0;
  border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
  background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
  background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
  background-position: 3px -60px;
  border-left: 1px solid #111;
  border-right: 1px solid #3e3e3e;
  width: 35px
}

#fancybox-buttons a.btnToggleOn {
  background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
  border-left: 1px solid #111;
  width: 35px;
  background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
  opacity : 0.4;
  cursor: default;
}


/* Blog Post
====================================*/
.comments-sec {
  float:left;
  width:100%;
  margin: 30px 0 25px 0;
}

ol.commentlist {
  float:left;
  width:100%;
  margin: 0;
}

ol.commentlist li {
  float:left;
  padding: 10px 0 15px 0;
}

ol.commentlist li:first-child {
  border:none;
  padding: 25px 0 0px 0;
}

ol.commentlist li {list-style: none;}

ol li ol.childlist{
  float:right;
  width:86%;
  margin:0px;
}

ol.commentlist li ol.childlist li:first-child {
  padding: 25px 0 0 0;
}

ol.commentlist li ol.childlist li {
  margin: 0px 0 15px 0;
}

.comments-amount {color: #888;}

ol li ol.childlist .comment-des {
  float: left;
  width: 78%;
}

.avatar {
  float:left;
}

.avatar img {
  float: left;
  border-radius: 2px;
}

.comment-des p {margin:0;}

.comment-des {
  float: left;
  margin: -60px 0 0 81px;
  width: 81%;
  background: #f6f6f6;
  color: #888;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.06);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.06);
  padding: 17px 20px 20px 20px;
}

.arrow-comment {
  width: 10px;
  height: 20px;
  position: relative;
  float: left;
  background: url(../images/comment-arrow.png) no-repeat;
  margin-left: -30px;
}

.comment-des strong {
  float:left;
  padding-right:5px;
  font-size:13px;

}
.comment-des span {
  float:left;
  color:#888;
}

.comment-by {
  float:left;
  width:100%;
  padding-bottom:8px;
  padding-top:5px;
}

.comment-by span.reply {
  color:#888;
  float:right;	display: inline;
}

.comment-by span.reply a {
  float: right;
  height: 17px;
  margin-left: 5px;
  font-weight: normal;
  float:right;

}

.comment-by span.date {
  color: #999;
  padding-right: 7px;
  float: right;
}


/* =================================================================== */
/* Portfolio
====================================================================== */
.portfolio-item.isotope { margin: 10px 0; }


/* Filters
====================================*/
#filters {
  display: block;
  margin: 10px 0 24px -1px;
}

#filters a {
  color: #888;
  display: block;
  padding: 4px 0;
}

#filters a:hover { color: #666; }
.selected { color: #169fe6 !important; }

.filters-dropdown {
  position: relative;
  z-index: 9;
  width: 150px;
  height: 20px;
  cursor: pointer;
  padding: 6px 12px 8px 12px;
  display: inline-block;
  color: #888;
  background-color: #eee;
  margin: 0 3px 6px 0;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -ms-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
  border-radius: 2px;
}

.filters-dropdown.active {
  color: #fff;
  background-color: #169fe6;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
}

.filters-dropdown.active:after { border-color: #fff rgba(255,255,255, 0); }
.ie8 .filters-dropdown.active:after { border-color: #fff transparent; }

.filters-dropdown.active .option-set {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.filters-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -2px;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #aaa rgba(255,255,255, 0);
}

.ie8 .filters-dropdown:after { border-color: #aaa transparent; }
.filters-dropdown.active:after { border-width: 0 5px 5px 5px; }

.filters-dropdown .option-set {
  width: 142px;
  position: absolute;
  top: 100%;
  margin-top: 0;
  left: 1px;
  z-index: 1;
  border: inherit;
  background: #fff;
  list-style: none;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -ms-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  opacity: 0;
  pointer-events: none;
  padding: 15px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.2);
  visibility: hidden;
}

ul.option-set li a:active { background: #fff; }

.ie8 .filters-dropdown .option-set { display: none; }
.ie8 .filters-dropdown.active .option-set { display: block; }


/* Portfolio Content
====================================*/
.page-content.portfolio {
  padding: 30px 0;
  background: #fcfcfc;
}

.related-works {
  margin-bottom: -40px;
  padding-bottom: 40px;
  background: #fcfcfc;
}


/* Portfolio Navigation
====================================*/
#portfolio-navi {
  position: relative;
  float: right;
  display: block;
  margin: 29px 0 0 10px;
}

#portfolio-navi ul li {
  display: inline;
}

#portfolio-navi a {
  padding: 5px 10px 7px 10px;
  display: inline-block;
  color: #888;
  background-color: #f4f4f4;
  margin: 0 0 6px 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.07);
  border-radius: 2px;
}

#portfolio-navi a:hover b { opacity: 1; }

#portfolio-navi a:hover {
  background-color: #169fe6;
  color: #fff;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
}



/* Portfolio Info
====================================*/
.project-info {
  padding: 21px 25px;
  background: #f6f6f6;
  color: #888;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.07);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.07);
}

.project-info .button { line-height: 22px; }

.project-info li:first-child { padding-top: 0; }
.project-info li:last-child { border-bottom: 0; }

.project-info li {
  padding: 2px 0;
}

.launch {
  margin-top: 10px;
}

.project-tags {
  margin-top: 15px;
}

.project-tags strong {
  float: left;
  margin: 5px 10px 20px 0;
}


/* Isotope Filtering
====================================*/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}

/**** Disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}


/* Disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}


/* =================================================================== */
/* Shortcodes
====================================================================== */


/* Buttons
====================================*/
.button,
input[type="button"],
input[type="submit"] {
  padding: 5px 14px 7px 14px;
  display: inline-block;
  border: 0px;
  font-weight: 500;
  outline: none;
  font-size: 13px;
  cursor: pointer;
  width: auto;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border-radius: 2px;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.2);
  letter-spacing: -0.2px;
}

input[type="button"],
input[type="submit"] {}

.button i { margin: 0 2px 0 -1px; height: 14px; }
.button i.halflings { margin: 2px 0px 0 -1px; }

.button.medium {padding: 9px 18px; font-size: 14px;}

.button.gray {color: #fff;background: #4c4c4c; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.4);}
.button.gray:hover {background:#169fe6; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.2);}

.button.light {color:#fff; background:#aaa; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);}
.button.light:hover {background:#169fe6; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.2);}

.button.color {color:#fff; background:#169fe6; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15); }
.button.color:hover {background:#aaa; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15); }

/* Input Button */
input[type="button"],
input[type="submit"],
input[type="button"]:focus,
input[type="submit"]:focus {
  color:#fff;
  background:#169fe6;
  padding: 9px 11px;
  border: none !important;
}

ininput[type="button"]:hover,
input[type="submit"]:hover { background:#aaa; }


/* Alert Boxes
====================================*/
.notification {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
  position: relative;
  padding: 14px 40px 14px 18px;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.notification p {margin: 0;}
.notification span {font-weight: 600;}

.notification.success,
.notification.success strong {
  background-color: #EBF6E0;
  color: #5f9025;
  border: 1px solid #b3dc82;
}

.notification.error,
.notification.error strong {
  background-color: #ffe9e9;
  color: #de5959;
  border: 1px solid #fbc4c4;
}

.notification.warning,
.notification.warning strong {
  background-color: #FBFADD;
  color: #8f872e;
  border: 1px solid #ded58a;
}

.notification.notice,
.notification.notice strong {
  background-color: #E9F7FE;
  color: #5091b2;
  border: 1px solid #b6d7e8;
}

.notification strong { border: none !important; }

.notification.success .close,
.notification.error .close,
.notification.warning .close,
.notification.notice .close {
  padding: 0px 14px;
  position: absolute;
  right: 0;
  top: 20px;
  display: block;
  height: 8px;
  weight: 8px;
}

.close i { font-size: 11px; margin: -5px 5px 0 0; float: left; }
.notification.success .close { color: #8dbf52; }
.notification.error .close { color: #f59292; }
.notification.warning .close { color: #c6bd67; }
.notification.notice .close { color: #86b4cc; }


/* Tabs
====================================*/
.tabs-nav, ul.tabs {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

}

ul.tabs{
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}
.tabs-nav li,ul.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;

}

.tabs-nav li a,ul.tabs li a {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-right: none;
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.tabs-nav li:first-child a,ul.tabs li:first-child a { border-left: 1px solid #e0e0e0; }
.tabs-nav li:last-child a ,ul.tabs li:last-child a{ border-right: 1px solid #e0e0e0; }

.tabs-nav li.active a,ul.tabs li.active a {	color: #333; font-weight: 500; }
.tabs-nav li.active i:before  {	color: #555; }

.tabs-nav li i:before,ul.tabs li i:before { color: #909090; }
.tabs-nav li span,ul.tabs li span { margin-left: -7px; }
.tabs-nav li.active a i,ul.tabs li.active a i {opacity: 1; filter: alpha(opacity=100);}
.tabs-nav li i,ul.tabs li i {opacity: 0.64; filter: alpha(opacity=64); margin: 10px 0 0 0; }

.tabs-nav li a:hover ,ul.tabs li a:hover { background: #fff; }

.tabs-nav li.active a,ul.tabs li.active a {
  background: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #169fe6;
  color: #169fe6
}

.tab-content {padding: 20px;}

.tabs-container {
  border: 1px solid #e0e0e0;;
  margin: -1px 0 20px;
  overflow: hidden;
  width: 100%;
  line-height: 21px;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}


/* Accordions
====================================*/
.accordion {
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 0;
  font-size: 13px;
  padding: 14px 0 15px 0;
  line-height: 26px;
  outline: none;
  color: #707070;
  border: 1px solid #e0e0e0;
  margin-top: -1px;
  font-weight: 500;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.ui-accordion .ui-accordion-header { background-color: #fcfcfc; }
.ui-accordion .ui-accordion-header:hover { background-color: #fff; }

.ui-accordion .ui-accordion-header-active:hover,
.ui-accordion .ui-accordion-header-active { background-color: #fff; color: #169fe6; border-bottom: 0; }

.ui-accordion .ui-accordion-icons { padding-left: 50px;}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon { position: absolute; left: 20px; }
.ui-accordion .ui-accordion-content {
  padding: 0px 20px 20px 20px;
}

.ui-accordion .ui-accordion-content p { margin: 0; }
.ui-accordion .ui-accordion-content { border: 1px solid #e0e0e0; border-top: 0; }

.ui-accordion-icon,
.ui-accordion-icon-active {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #ccc;
  border-radius: 2px;
  background-image: url(../images/accordion-plus.png);
  background-repeat: no-repeat;
  background-position: 50%;
  float: left;
  margin: 5px 10px 0 0;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.ui-accordion-icon-active {
  background-color: #169fe6;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
  background-image: url(../images/accordion-minus.png);
}


/* Toggle
====================================*/
.toggle-wrap {
  float: left;
  width: 100%;
  border: 1px solid #e0e0e0;
  margin-bottom: 15px;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.trigger a {
  display: block;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  padding: 14px 0 15px 20px;
  line-height: 26px;
  color: #707070;
  font-weight: 500;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.trigger a { background-color: #fcfcfc; }

.trigger a:hover,
.trigger.active a,
.trigger.active a:hover { background: #fff; }

.trigger.active a {
  color: #169fe6;
}

.toggle-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #ccc;
  border-radius: 2px;
  background-image: url(../images/accordion-plus.png);
  background-repeat: no-repeat;
  background-position: 50%;
  float: left;
  margin: 5px 10px 0 0;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.trigger.active .toggle-icon {
  background-color: #169fe6;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
  background-image: url(../images/accordion-minus.png);
}

.toggle-container p { margin: 0; }
.toggle-container { padding: 0 20px 17px 20px; }



/* Notice
====================================*/
.large-notice {
  background-color: #fcfcfc;
  border: 1px solid #e0e0e0;
  padding: 32px;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.large-notice h2 {
  margin-bottom: 10px;
}

.large-notice p {
  font-size: 14px;
  color: #888;
  line-height: 22px;
}


/* List Styles
====================================*/
.sign-list li,
.plus-list li,
.star-list li,
.check-list li { list-style: none; margin: 5px 0; }

.sign-list li:first-child,
.plus-list li:first-child,
.star-list li:first-child,
.check-list li:first-child { margin-top: 0; }

.check-list li { background: url(../images/icon-list-check.png) no-repeat 0% 3px; padding: 0 0 0 18px; }
.sign-list li { background: url(../images/icon-list-sign.png) no-repeat 0% 3px; padding: 0 0 0 18px; }
.plus-list li { background: url(../images/icon-list-plus.png) no-repeat 0% 3px; padding: 0 0 0 18px; }
.star-list li { background: url(../images/icon-list-star.png) no-repeat 0% 3px; padding: 0 0 0 18px; }


/* Table
====================================*/
table.standard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border:none;
  margin-bottom: 15px;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

table.standard-table th {
  border: 1px solid #e0e0e0;
  border-right: none;
  background-color: #fafafa;
  text-align: left;
  padding: 10px 15px;
  color: #444;
  vertical-align: top;
  font-size: 14px;
  font-weight: 600;
}

table.standard-table td:last-child {
  border-right: 1px solid #e0e0e0;
}

table.standard-table th:last-child {
  border-right: 1px solid #e0e0e0;
}

table.standard-table td {
  padding: 10px 15px;
  border: #e0e0e0 1px solid;
  border-top: none;
  border-right: none;
}

table.standard-table tr:hover td {background-color: #fafafa;}


/* Testimonial Carousel
====================================*/
.testimonial-container {
  position: relative;
}

.testimonials {
  background: #f6f6f6;
  color: #888;
  padding: 25px;
  line-height: 21px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.06);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.06);
}

.testimonials-bg {
  background: url(../images/testimonials-bg.png) no-repeat;
  margin-top: -1px;
  display: block;
  margin-left: 25px;
  width: 200px;
  height: 30px;
}

.testimonials-author {
  color: #169fe6;
  float: right;
  display: block;
  margin-top: -23px;
  margin-bottom: 20px;
}

.testimonials-author span {
  color:#a0a0a0
}

.flexslider.testimonial-slider .flex-direction-nav { display: none; }


/* Tooltip
====================================*/
.ui-tooltip,
.arrow:after {
  background: #444;
}

.ui-tooltip {
  color: #fff;
  padding: 1px 8px;
  position: absolute;
  z-index: 9999;
  font-size: 11px;
  max-width: 300px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  -ms-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.fade.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.ie8 .arrow {
  display: none;
}

.arrow {
  width: 70px;
  height: 5px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -5px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 23px;
  top: -20px;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}

.arrow.top:after {
  top: auto;
}


/* =================================================================== */
/* Blog
====================================================================== */


/* Posts
====================================*/
.post {
  margin: 40px 0;
}

.post-content {
  margin: 0 0 0 63px;
}

.post-img a img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  margin: 0 0 23px 0;
}

.post-img a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* Tags */
.meta {
  color: #888;
  margin: 0 0 15px 0;
}

.meta a {
  color: #888;
  text-decoration: none;
}

.meta time {
  margin: 0 0 0 -2px;
}

.meta a:hover {
  color: #666;
}

.meta i.halflings {
  display: inline-block;
  opacity: 0.53;
  filter: alpha(opacity=53);
  margin: 2px 5px 0 0;
}

.meta:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}

.meta i.halflings:before {
  color: #a5a5a5;
}

.meta span {
  margin-right: 12px;
  float: left;
}


/* Title */
.meta h2 {
  line-height: 26px;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 2px 0;
}

.meta h2 a {
  color: #444;
}

.meta h2 a:hover {
  color: #666;
}


/* Medium Image */
.medium-image { float: left; margin: 0 20px 0 0; width: 28%; }
.medium-content { float: left; width: 59%; margin-left: 60px; }
.post.medium { margin-top: 40px; margin-bottom: 16px; }
.post.medium:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}


/* Pagination
====================================*/
.pagination {
  margin: 30px 0;
}

.pagination ul li a {
  padding: 6px 10px;
  border-bottom: none;
  display: inline-block;
  color: #888;
  float: left;
  margin-right: 4px;
  background-color: #f4f4f4;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.07);
  border-radius: 2px;
}

.pagination .current {
  background: #169fe6 !important;
  color: #fff;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
}

.pagination ul li a:hover {
  background-color: #ccc;
  color: #fff;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
}


/* About Author
====================================*/
.about-author {
  margin-bottom: 40px;
  padding: 20px;
  background: #f6f6f6;
  color: #888;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.06);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.06);
}

.about-author p { margin: 0 0 2px 0; }
.about-author img {
  float: left;
  margin: 7px 5px 5px 5px;
  width: 65px;
  height: 65px;
  border-radius: 2px;
}

.about-description {
  margin: -2px 0 0 90px;
}


/* =================================================================== */
/* Pricing Tables
====================================================================== */
.pricing-table {
  float: left;
  margin: 1px 0 0 -1px;
}

.pricing-table h3 {
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 6px 0;
  margin: 0;
  font-weight: 200;
}

.pricing-table ul {
  padding: 10px 0 0 0;
  border: 1px solid #e0e0e0;
  border-top: 0;
  background: #fff;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
}

.pricing-table li {
  color: #888;
  background: #fff;
  text-align: center;
  padding: 4px 0;
}

li.sign-up {
  border-top: 1px solid #e0e0e0;
  background: #fafafa;
  padding: 12px 0;
  margin-top: 10px;
}

li.sign-up a { font-weight: 200; letter-spacing: 0; }
li.sign-up a:hover { opacity: 0.8; filter: alpha(opacity=80); }


/* Table
====================================*/
.pricing-table h3,
.pricing-table h4 {
  text-align: center;
  color: #fff;
  margin: 0;
}

.pricing-table {
  z-index: 1;
  position: relative;
}

.pricing-table h4 {
  padding: 12px 0 10px 0;
}

.time {
  display: block;
  line-height: 20px;
}

.price {
  font-size: 24px;
  font-weight: normal;
}

span.time {
  font-size: 12px;
  font-weight: 200;
  opacity: 0.6;
}


/* Featured
====================================*/
.pricing-table.featured ul {
  padding: 10px 0 0 0;
  border: 1px solid #e0e0e0;
  border-top: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.pricing-table.featured h3 {
  padding: 11px 0 13px 0;
  margin: -12px 0 0 0;
}

.pricing-table.featured li.sign-up {
  border-top: 1px solid #e0e0e0;
  background: #fafafa;
  padding: 18px 0;
  margin-top: 10px;
}

.featured div {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}


/* Color Schemes
====================================*/

/* Color 1 */
.pricing-table .color-1 h3, .color-1 .sign-up .button {background-color: #909090;}
.pricing-table .color-1 h4 {background-color: #808080;}

/* Color 2 */
.pricing-table .color-2 h3, .color-2 .sign-up .button  {background-color: #565656;}
.pricing-table .color-2 h4 {background-color: #4c4c4c;}

/* Color 3 */
.pricing-table .color-3 h3 { background-color: #3dafea; }
.pricing-table .color-3 h4, .color-3 .sign-up .button { background-color: #169fe6; }



/* =================================================================== */
/* Contact Form
====================================================================== */

#contact fieldset div  { margin-bottom: 20px; }

#contact fieldset div input,
#contact-site-form .form-text,
#comments .form-text { width: 220px; }

#contact textarea {
  max-width: 620px;
  min-width: 620px;
  min-height: 160px;
}

#contact input,
#contact textarea,
#contact select,
.form-textarea {
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus, 
.form-textarea:focus {
  border: 1px solid #d6d6d6;
  outline: none;
  position: relative;
  z-index: 5;
}

#contact input.error, #contact textarea.error, #contact select.error {
  border: 1px solid #f2c4c2;
  background: #ffeceb;
}

#contact label span {color: #ed1c1c;}
#contact input[type="submit"][disabled] { background:#aaa; }

#message {margin: 0; padding: 0; display: block; background: transparent none;}

.loader {
  padding: 10px;
  float: left;
}


/* =================================================================== */
/* Footer
====================================================================== */

#footer {
  background: #4c4c4c;
  width: 1020px;
  padding: 30px 0 31px 0;;
  margin: 0 auto;
  font-size: 12px;
}

#footer-bottom {
  background: #424242;
  width: 1020px;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 12px;
}

#footer, #footer p, #footer a { color: #ddd; }
#footer a:hover { color: #fff; }

#footer h4 {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #fff;
}

.copyright { color: #aaa; }
.copyright a,
.copyright span { color: #eee !important; }

#sub-menu {
  float: right;
  font-size: 11px;
}

#sub-menu ul li a  { color: #aaa; }
#sub-menu ul li a:hover  { color: #eee; }

#sub-menu ul li  {
  display: inline-block;
  border-left: 1px solid #505050;
  margin:0;
  padding: 0 8px 0 8px;
  line-height: 12px;
}

#sub-menu ul li:first-child  { border: none; padding-left: 0; }
#sub-menu ul li:last-child  { padding-right: 0; }
#logo-footer { margin: 10px 0 20px 0; width: 100px; height: 24px; }


/* Photo Stream
====================================*/
.flickr-widget {margin-right: -12px; margin-top: 0px;}
.flickr-widget img {display: block; width: 100%;}
.flickr-widget a:hover {border-color: #169fe6;}

.flickr-widget a {
  float: left;
  width: 58px;
  height: 58px;
  margin-right: 9px;
  margin-bottom: 9px;
  border: 5px solid #424242;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border-radius: 2px;
}

.ie7 .flickr-widget a {width: 54px; height: 54px;}


/* Twitter Widget
====================================*/
#twitter li,.tweets li {
  margin: 0 0 15px 0;
  padding: 0 0 0 25px;
  background: url(../images/social/twitter.png) no-repeat left 5%;
}

#twitter li:last-child,.tweets li:last-child {
  margin: 0;
  padding: 0 0 0 25px;
}

#twitter a {color: #fff;}

#twitter b a,
#twitter b a:hover {
  margin-top: 5px;
  display: block;
  color: #999;
  font-weight: normal;
}


/* Contact Details
====================================*/
.contact-details-alt li p strong { color:#fff; float: left; margin: 0 5px 5px 0; }
.contact-details li p strong { color:#666; float: left; margin: 0 5px 5px 0; }

span.hours {float: right;}

.contact-informations.second {margin: 15px 0 0 0}

.address {line-height: 21px;}

.contact-details-alt li {
  margin: 0 0 15px 0;
}

.contact-details p,
.contact-details li,
.contact-details a {color: #666;}

.contact-informations p {margin:0;}
.contact-informations.hours i { float: left; margin: 0 5px 0 0; }

.contact-details-alt p {
  margin: -2px 0 0 22px;
  line-height: 18px;
}

.contact-informations li i {
  float: left;
  margin: 3px 5px 0 0;
}

.contact-details-alt li i {
  float: left;
  margin: 1px 0 0 0;
}


/* =================================================================== */
/* Shop
====================================================================== */
.shop-page.page-content  { margin: 0 -10px; }
.container .four-shop.columns { width: 193px; }

#price-range input {
  padding: 0;
  background: 0;
  border: 0;
  box-shadow: none;
  margin: 2px 0 0 4px;
  float: left;
  width: 100px;
}

#price-range .button {
  float: right;
  padding: 3px 11px 4px 11px;
  margin: -5px 0 0 0;
}

#price-range label {
  float: left;
}

.padding-range {
  padding: 0 8px;
}

#slider-range {
  margin: 0 0 16px 0;
}

#price-range .ui-slider {
  position: relative;
  text-align: left;
}

#price-range .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 17px;
  height: 17px;
  margin: 2px 0 0 0;
  cursor: w-resize;
}

#price-range .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 14px;
  display: block;
  border: 0;
  background-position: 0 0;
}

#price-range .ui-widget-content {
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
  background-color: #f2f2f2;
  padding: 2px 0;
  border-radius: 2px;
}

#price-range .ui-widget-header {
  background: #169fe6;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
}

#price-range .ui-state-default {
  background: #ddd;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.08);
  border-radius: 2px;
}

#price-range .ui-slider.ui-state-disabled .ui-slider-handle,
#price-range .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

#price-range .ui-slider-horizontal {
  height: .8em;
}
#price-range .ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}
#price-range .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
#price-range .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
#price-range .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}


/* Shopping Cart */
#cart,
.latest-shop-items {
  padding: 18px;
  width: 84%;
  display: inline-block;
  background-color: #f2f2f2;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
  border-radius: 2px;
  color: #666;
}

.cart-items {
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0 10px 0;
}

#cart .button,
.shop-item .button {
  padding: 5px 16px 6px 16px !important;
}

#cart .button.color {
  margin: 0 0 0 2px;
}

.cart-items li {
  margin: 0 0 10px 0;
}

.cart-items li:last-child {
  margin: 0;
}

a.cart-item-title {
  color: #444;
  font-weight: 600;
  display: block;
}

a.cart-item-title:hover {
  color: #888;
  display: block;
}

.cart-item-amount {
  color: #888;
  display: block;
  font-size: 12px;
}

.cart-subtotal {
  display: block;
  margin: 8px 0;
  color: #888;
}

.cart-subtotal strong {
  color: #888;
  font-weight: 500;
}

a.item-remove {
  color: #eb4c4c;
  font-size: 11px;
}

.empty-cart {
  color: #888;
}


/* Sidebar */
.latest-shop-items {
  margin-bottom: 15px;
}

.latest-shop-items p {
  margin: 0;
  color: #666;
  line-height: 19px;
  margin-left: 77px;
}

.latest-shop-items p a {color: #666; display: block;}
.latest-shop-items p a:hover {color: #888;}

.latest-shop-items p span {
  color: #888;
  margin: 5px 0 0 0;
  display: block;
}

.latest-shop-items img {
  float: left;
  width: 56px;
  border: 1px solid #e0e0e0;
  padding: 4px;
  border-radius: 2px;
  background: #fff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}


.latest-shop-items img:hover {
  background: #169fe6;
  border: 1px solid #169fe6;
}


/* Shop Item */
.shop-item img {
  border: 1px solid #eee;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -o-transition: all 180ms ease-in-out;
  -ms-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.shop-item img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  border-color: #e7e7e7;
}

.shop-item .item-description {
  padding: 14px 10px 19px 10px;
}

.shop-item .item-description h5 {
  line-height: 18px;
  font-size: 13px;
  font-weight: 600;
  margin: 3px 0 0 0;
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -o-transition: all 180ms ease-in-out;
  -ms-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.shop-item .item-description a:hover h5 {
  color: #888;
}

.shop-item .item-description span { 
  color: #666;
  font-size: 13px;
  font-weight: 300;
  display: block;
  margin: 0 0 10px 0;
}

.shop-item {
  margin: 10px 0;
  display: block;
  background-color: #fff;
}

.shop-item .item-description {
  background-color: #f4f4f4;
  box-shadow:  inset 0px -1px 0px 0px rgba(0,0,0, 0.07);
  border-radius: 0 0 2px 2px;
  border-color: #e8e8e8;
}

.shop-item .button {
  padding: 5px 13px 7px 13px;
}

.pagination.shop {
  margin: 20px 0 40px 0;
}

/* Shop Product Page */
.flexslider.shop {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.03);
  margin: 0 0 20px 0;
}

.flexslider.shop img {
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 180ms ease-in-out;
  -o-transition: all 180ms ease-in-out;
  -ms-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flexslider.shop img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.flexslider.shop .flex-direction-nav { display: none; }

table.standard-table.shop {
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

table.standard-table.shop th {
  border-bottom: none;
  font-size: 13px;
}

table.standard-table.shop th{
  margin-bottom: -1px;
}

table.standard-table.shop td {
  padding: 10px 15px;
  border: #e0e0e0 1px solid;
  border-bottom: none;
}

.product-info .price {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  margin: 0 0 15px 0;
}

.product-info h3 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  line-height: 26px;
  margin: 0 0 7px 0;
}

.product-amount input {
  width: 20px;
  padding: 5px;
  text-align: center;	float: left;
  border-radius: 2px 0 0 2px;
}

.product-amount {
  margin: 0 0 15px 0;
  float: left;
}

.increase-value {
  float: left;
  color:#fff;
  background: #169fe6;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  margin-left: -1px;
  font-size: 11px;
  height: 30px;
  width: 30px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.increase-value span {
  margin: 4px 0 0 11px;
  display: inline-block;
}

.increase-value:hover {
  background: #aaa;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
}
#isotope-container{
  margin-left: -20px;
}
#isotope-container .portfolio-item-wrapper{
  margin-left: 20px;
  margin-right: 0;
}


/* Shop Media Queries */
@media only screen and (max-width: 767px) { .container .four-shop.columns { width: 260px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) { .container .four-shop.columns { width: 360px; } }
@media only screen and (min-width: 768px) and (max-width: 959px) { .container .four-shop.columns { width: 135px; } }
@media only screen and (max-width: 767px) { .shop-page.page-content { margin: 0; } }
@media only screen and (min-width: 768px) and (max-width: 959px) { #cart .button.color { margin: 5px 0 0 0; } }



/* =================================================================== */
/* Media Queries
====================================================================== */


/* Higher than standard 960 (desktop devices)
====================================================================== */
@media only screen and (min-width: 960px) {

  /* You need at least a height, adjust this to your needs */
  .jcarousel { height: 317px; }

}


/* Tablet Portrait size to standard 960 (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
  
  #wrapper,
  #footer,
  #footer-bottom {
    width: 714px;
  }

  #navigation {
    width: 734px;
  }
  #isotope-container .portfolio-item-wrapper{
    margin-left: 14px;
    margin-right: 0;
  }
  #isotope-container{
    margin-left: -14px;
  }
  .one-third.column.portfolio-item-wrapper{
    width: 210px;
  }
  .style-2 {
    width: 714px !important;
  }

  .contact-details-alt li p strong {
    margin: 0 5px 0 0;
  }


  .line {
    margin: 0 0 0 -28px;
    padding: 0 56px 0 0;
  }

  .widget-search input, .sidebar .block-search .form-text {
    width: 134px;
  }

  .cut {
    display: none;
  }

  .sidebar {
    padding: 28px 0;
  }

  .post {
    margin: 24px 0;
  }

  ol li ol.childlist .comment-des {
    float:right;
    width:70%;
  }
  .comment-des {
    float:right;
    width: 73%;
  }

  #contact textarea {
    max-width: 425px;
    min-width: 425px;
  }

  .medium-image {
    margin: 0 25px 0 0;
    width: 35%;
  }

  .medium-content {
    width: 46%;
  }

  .post.medium {
    margin: 30px 0;
  }

  #not-found h2 {
    font-size: 160px;
    line-height: 160px;
  }

  #not-found i {
    font-size: 155px;
  }

  #not-found p {
    font-size: 22px;
    line-height: 32px;
  }

  .client-list img {
    width: 130px;
    height: auto;
  }

}


/* All Mobile Sizes (devices and browsers)
====================================================================== */
@media only screen and (max-width: 767px) {

  #sub-menu {
    float: left;
    margin: 5px 0 0 0;
  }
  #isotope-container{
    margin-left: 0;
  }
  #isotope-container .portfolio-item-wrapper{
    margin-left: 0;
  }

  #tagline,
  .social-icons,
  .contact-details,
  .top-search,
  #header #search-block-form,
  .slide-caption,
  .js #responsive,
  .left-corner,
  .right-corner {
    display: none;
  }

  .portfolio-item,
  .recent-blog {
    margin: 0 0 40px 0;
  }

  .js .selectnav,#navigation select {
    display: block;
  }

  #navigation {
    margin:0;
    width: 100%;
    height: auto;
    background: transparent;
  }

  .selectnav , #navigation select{
    cursor: pointer;
    padding: 10px;
    margin: 0 0 30px 30px;
    float: left;
    font-size: 14px;
  }

  #header {
    min-height: 115px;
  }

  #footer h4 {
    margin-top: 20px;
  }

  #footer {
    padding-top: 20px;
  }

  .page-title {
    padding-bottom: 30px !important;
  }

  #breadcrumbs ul {
    float: left;
    padding: 0;
    margin-top: 5px;
    width: 100%;
  }

  .icon-box-container {
    margin: 30px 0 20px 0;
  }

  .icon-box {
    margin-bottom: 20px;
  }

  .page-title h2 {
    padding: 0;
    position: relative;
  }

  .post {
    margin: 24px 0;
  }

  .meta span {
    display: none;
  }

  .line {
    margin: 0 0 0 -30px;
    padding: 0 60px 0 0;
  }

  .floated.sidebar.left,
  .floated.sidebar.right {
    -webkit-box-shadow:  none;
    box-shadow:  none;
    padding-bottom: 0;
    margin: 0;
    border: none;
  }

  .floated.sidebar.left {
    border-bottom: 1px solid #e0e0e0;
  }

  .floated.sidebar.right {
    border-top: 1px solid #e0e0e0;
  }

  #portfolio-navi {
    float: left;
    margin-left: 0;
  }

  #not-found h2 {
    font-size: 110px;
    line-height: 120px;
  }

  #not-found i {
    font-size: 105px;
  }

  #not-found p {
    font-size: 22px;
    line-height: 32px;
  }

  body .container .columns.carousel-intro {
    float:none !important;
  }

  .comment-by {
    margin-bottom: 20px;
  }

  .caption-gray,
  .caption-color,
  .caption-transparent {
    display: none !important;
  }

  .post.medium {
    margin: 40px 0;
  }

  #logo-footer {
    margin: 20px 0;
  }

  .pricing-table {
    margin-bottom: 20px;
  }

  .pricing-table.featured {
    margin-top: 12px;
  }
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  #wrapper,
  #footer,
  #footer-bottom {
    width: 420px;
  }

  .selectnav,#navigation select {
    width: 355px;
  }
  #isotope-container{
    margin-left: 0;
  }
  #isotope-container .portfolio-item-wrapper{
    margin-left: 0;
  }

  .container.floated {
    width: 420px;
    padding: 0;
  }

  .blank.floated {
    width: 360px;
    padding: 0 30px;
  }

  .flickr-widget a {
    width: 73px;
    height: 73px;
    margin-right: 9px;
    margin-bottom: 9px;
  }

  ol li ol.childlist .comment-des {
    float:right;
    width:61%;
  }

  .comment-des {
    float:right;
    width: 67%;
  }

  #contact textarea {
    max-width: 340px;
    min-width: 340px;
  }

  .medium-image {
    margin: 0 25px 0 0;
    width: 30%;
  }

  .medium-content {
    width: 46%;
  }

  .client-list img {
    width: 179px;
    height: auto;
  }

}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
====================================================================== */
@media only screen and (max-width: 479px) {
  #wrapper,
  #footer,
  #footer-bottom {
    width: 320px;
  }

  .selectnav,#navigation select {
    width: 255px;
  }

  .container.floated {
    width: 320px;
    padding: 0;
  }

  .blank.floated {
    width: 260px;
    padding: 0 30px;
  }

  .flickr-widget a {
    width: 69px;
    height: 69px;
    margin-right: 9px;
    margin-bottom: 9px;
  }

  ol li ol.childlist .comment-des {
    float:right;
    width:47%;
  }

  .comment-des {
    float:right;
    width: 54%;
  }

  #contact textarea {
    max-width: 240px;
    min-width: 240px;
  }

  .medium-image {
    margin: 0 25px 0 0;
    width: 100%;
  }

  .medium-content {
    width: 80%;
  }

  .client-list img {
    width: 260px;
    height: auto;
  }

}

/* Retina Images (High Resolution)
====================================================================== */
@media (min--moz-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(-webkit-min-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {

  /* Miscellaneous */
  #twitter li { background: url('../images/social/twitter@2x.png') no-repeat left 5%; background-size: 16px auto; }
  #twitter-blog li { background: url('../images/twitter-01@2x.png') no-repeat left 5%; background-size: 16px auto; }
  #breadcrumbs ul li { background: url('../images/breadcrumbs@2x.png') no-repeat 100% 50%; background-size: 3px auto; }
  .categories a { background: url('../images/categories@2x.png') no-repeat left 47%; background-size: 5px auto; }
  .search-btn { background: url('../images/search@2x.png') center center no-repeat; background-size: 13px auto; }
  .search-btn-widget,.sidebar .block-search .form-submit { background: url('../images/search-2@2x.png') 50% no-repeat; background-size: 13px auto; }
  .flex-direction-nav .flex-next {background: url('../images/slider-right@2x.png') no-repeat 50%; background-color: #4c4c4c; right: 0; background-size: 25%;}
  .flex-direction-nav .flex-prev {background: url('../images/slider-left@2x.png') no-repeat 50%; background-color: #4c4c4c; left:0; background-size: 25%;}
  .ls-fullwidth .ls-nav-prev { background: url('../images/slider-left@2x.png') no-repeat 50%; background-color: #4c4c4c; left: 0; background-size: 25%; }
  .ls-fullwidth .ls-nav-next { background: url('../images/slider-right@2x.png') no-repeat 50%; background-color: #4c4c4c; right: 0; background-size: 25%; }
  .ui-accordion-icon, .ui-accordion-icon-active { background-image: url('../images/accordion-plus@2x.png'); background-repeat: no-repeat; background-position: 50%; background-size: 12px;}
  .ui-accordion-icon-active { background-image: url('../images/accordion-minus@2x.png'); }
  .toggle-icon { background-image: url('../images/accordion-plus@2x.png'); background-repeat: no-repeat; background-position: 50%; background-size: 12px; }
  .trigger.active .toggle-icon { background-image: url('../images/accordion-minus@2x.png'); background-size: 12px;}
  .check-list li { background: url('../images/icon-list-check@2x.png') no-repeat 0% 3px; padding: 0 0 0 18px; background-size: 13px 11px; }
  .sign-list li { background: url('../images/icon-list-sign@2x.png') no-repeat 0% 3px; padding: 0 0 0 18px; background-size: 12px; }
  .plus-list li { background: url('../images/icon-list-plus@2x.png') no-repeat 0% 3px; padding: 0 0 0 18px; background-size: 12px; }
  .star-list li { background: url('../images/icon-list-star@2x.png') no-repeat 0% 3px; padding: 0 0 0 18px; background-size: 12px; }

  /* Social Icons */
  .twitter {background: url('../images/social/twitter@2x.png') no-repeat 50%; background-size: 50%; }
  .facebook {background: url('../images/social/facebook@2x.png') no-repeat 50%; margin: 0 -4px; background-size: 50%;}
  .dribbble {background: url('../images/social/dribbble@2x.png') no-repeat 50%; background-size: 50%; }
  .linkedin {background: url('../images/social/linkedin@2x.png') no-repeat 50%; background-size: 50%; }
  .rss {background: url('../images/social/rss@2x.png') no-repeat 50%; margin: 0 -5px 0 0; background-size: 50%; }
  .amazon {background: url('../images/social/amazon@2x.png') no-repeat 50%; background-size: 50%; }
  .blogger {background: url('../images/social/blogger@2x.png') no-repeat 50%; background-size: 50%; }
  .deviantart {background: url('../images/social/deviantart@2x.png') no-repeat 50%; background-size: 50%; }
  .digg {background: url('../images/social/digg@2x.png') no-repeat 50%; background-size: 50%; }
  .flickr {background: url('../images/social/flickr@2x.png') no-repeat 50%; background-size: 50%; }
  .forrst {background: url('../images/social/forrst@2x.png') no-repeat 50%; background-size: 50%; }
  .lastfm {background: url('../images/social/lastfm@2x.png') no-repeat 50%; background-size: 50%; }
  .picasa {background: url('../images/social/picasa@2x.png') no-repeat 50%; background-size: 50%; }
  .pinterest {background: url('../images/social/pinterest@2x.png') no-repeat 50%; background-size: 50%; }
  .skype {background: url('../images/social/skype@2x.png') no-repeat 50%; background-size: 50%; }
  .tumblr {background: url('../images/social/tumblr@2x.png') no-repeat 50%; background-size: 50%; }
  .vimeo {background: url('../images/social/vimeo@2x.png') no-repeat 50%; background-size: 50%; }
  .wordpress {background: url('../images/social/wordpress@2x.png') no-repeat 50%; background-size: 50%; }
  .yahoo {background: url('../images/social/yahoo@2x.png') no-repeat 50%; background-size: 50%; }
  .youtube {background: url('../images/social/youtube@2x.png') no-repeat 50%; background-size: 50%; }

}